@tailwind base;
@tailwind components;
@tailwind utilities;
@import './mdx.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --shiki-color-text: theme('colors.white');
    --shiki-token-constant: theme('colors.primary.300');
    --shiki-token-string: theme('colors.primary.300');
    --shiki-token-comment: theme('colors.zinc.500');
    --shiki-token-keyword: theme('colors.sky.300');
    --shiki-token-parameter: theme('colors.pink.300');
    --shiki-token-function: theme('colors.violet.300');
    --shiki-token-string-expression: theme('colors.primary.300');
    --shiki-token-punctuation: theme('colors.zinc.200');

    /* Indigo */
    --primary-50: 250 100% 97.6%;
    --primary-100: 226.5 100% 93.9%;
    --primary-200: 228 96.5% 88.8%;
    --primary-300: 229.7 93.5% 81.8%;
    --primary-400: 234.5 89.5% 73.9%;
    --primary-500: 238.7 83.5% 66.7%;
    --primary-600: 243.4 75.4% 58.6%;
    --primary-700: 244.5 57.9% 50.6%;
    --primary-800: 243.7 54.5% 41.4%;
    --primary-900: 242.2 47.4% 34.3%;

    --primary: var(--primary-600);
    --primary-foreground: 210 40% 98%;

    --muted: 210, 40%, 96.1%;
    --muted-foreground: 215.3, 19.3%, 34.5%;

    --subtle: 210, 40%, 98%;
    --subtle-foreground: 215.4, 16.3%, 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 46% 7%;
    --foreground: 213 31% 91%;

    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --muted: 215.3, 25%, 26.7%;
    --muted-foreground: 215, 20.2%, 65.1%;

    --subtle: 217.2, 32.6%, 17.5%;
    --subtle-foreground: 215.4, 16.3%, 46.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --ring: 216 34% 17%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply min-h-screen bg-background text-foreground font-sans antialiased;
  }
}
